# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.tamagui/

# Expo
.expo/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Android/iOS
android/
ios/

# IDE
.idea/
.vscode/
*.swp
*.swo